<div class="card">
    <h2 >Details du service</h2>
    <form (ngSubmit)="onSubmit.emit()" >

      <div class="flex flex-col gap-4">
        <div>
          <label  for="productName">Product Name</label>
          <input
            class=" sm:w-[40vw]"
            id="productName"
            type="text"
            [(ngModel)]="service.name"
            name="name"
            required
          />
        </div>
        <div>
          <label for="description">Description</label>
          <textarea
            class="h-[100px]  sm:w-[40vw] "
            id="description"
            [(ngModel)]="service.description"
            name="description"
            required
          ></textarea>
        </div>
      </div>
  
>
      <div class="flex flex-col w-full sm:w-[35vw]">
        <p class="">Photos</p>
  
        <div class="flex items-center justify-center w-full">
          <div *ngIf="imagePreview; else fileUpload" class="relative">
            <img [src]="imagePreview" alt="Aperçu de l'image" class="w-32 h-32 object-cover rounded-lg" />
            <button type="button" (click)="removeImage()" class="absolute top-0 right-0 bg-red-500 text-white p-1 rounded-full">
              X
            </button>
          </div>
  
        
          <ng-template #fileUpload>
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer hover:bg-gray-100">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <div class="w-auto h-auto mb-4 text-[var(--primary-foreground)] text-[80px]">
                  <mat-icon style="font-size: 100px; width: 100px; height: 100px;">add_photo_alternate</mat-icon>
                </div>
                <div class="flex flex-col gap-4 items-center">
                  <h2 class="">Déposez le fichier ici ou</h2>
                  <p class="">Sélectionnez-le depuis votre ordinateur</p>
                </div>
              </div>
              <input id="dropzone-file" type="file" class="hidden" (change)="onFileChange($event)" name="image"  required />
            </label>
          </ng-template>
        </div>
      </div>
    </form>
  </div>