<header class="fixed w-screen top-0 shadow-md py-3 px-6 flex justify-end items-center z-30">
    <div class="flex items-center gap-4">

      <img src="/codingart.png" alt="Logo" class="w-10 h-auto">
      <div class="flex flex-col">
        <h2>Codingart</h2>
        <p>codingart&#64;gamil.com</p>
      </div>
      <mat-icon>keyboard_arrow_down</mat-icon>
      <!-- <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
        Login
      </button> -->
    </div>
  </header>
  