/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
        --backgroud : rgb(255,255,255);
        --foreground:rgb(41, 40, 40);
        
        --primary: rgb(72, 3, 201);
        --primary-foreground: rgb(132, 65, 255);
  
        --button-backgroud: rgb(166, 111, 197);
        --button-backgroud-foreground :rgb(224, 224, 224);

        --input-backgroud: rgb(248, 248, 248);

        --radius: 0.5rem;

    }
}
}
@layer base {
    body {
      @apply bg-[var(--background)] text-gray-400    text-[14px] font-bold ;
    }
  
    h1 {
      @apply  text-[18px] font-bold text-[var(--primary)];
    }
  
    h2 {
      @apply  text-[16px]  font-normal text-[var(--primary-foreground)] mb-4;
    }
  
    input,
    textarea{
        @apply p-4  bg-[var(--input-backgroud)]  border-1 border-[var(--primary-foreground)] rounded-lg focus:ring-blue-500 focus:border-[var(--primary)] block w-full sm:w-[25vw]   h-[35px];
    }


    select{
        @apply p-2 bg-[var(--input-backgroud)] text-[var(--primary-foreground)]  border-1 border-[var(--primary-foreground)] rounded-lg focus:ring-blue-500 focus:border-[var(--primary)] block w-full sm:w-[25vw]   h-[35px];
    }
  
    label{
        @apply block mb-2;
    }

    Form{
        @apply flex sm:flex-row flex-col sm:items-center mb-10 gap-2 justify-between;
    }
    .card{
        @apply mt-6 p-4 shadow-md rounded-lg
    }

    .btn-gray{
        @apply  bg-[var(--button-backgroud-foreground)]  text-black hover:text-[var(--button-backgroud-foreground)] hover:bg-black
    }
    .btn{
        @apply  px-12 py-2 rounded-[20px]
    }
    .btn-purple{
        @apply bg-[var(--button-backgroud)] text-white hover:text-[var(--button-backgroud)] hover:bg-white hover:border
    }

    .page-header{
        @apply flex sm:flex-row flex-col gap-4 sm:justify-between items-center
    }

    .filter-select{
        @apply w-auto rounded-full bg-[var(--backgroud)]
    }

    .search-input{
        @apply bg-[var(--backgoud)] border-none border-b-4 border-b-[var(--primary-foreground)]   w-full  h-full 
    }


    table{
        @apply w-full text-left rtl:text-right  p-2 my-4 
    }

    thead{
        @apply text-xs  uppercase  text-[var(--primary)] bg-[var(--button-backgroud)] 
    }

    th{
        @apply sm:px-6 py-3 px-1
    }
    td{
        @apply  sm:px-6 py-4 border-gray-500 border-b-1 px-1
    }

    header{
        @apply fixed w-screen top-0 shadow-md py-3 px-6 flex justify-end items-center z-30 gap-4 bg-[var(--backgroud)]
    }
    header > div {
        @apply flex items-center gap-4  
    }

    nav{
        @apply fixed left-0 sm:flex flex-col justify-center items-center h-screen shadow-md z-50 bg-white hidden pl-2
    }

    .nav-items{
        @apply flex flex-col items-center space-y-8 mt-8 
    }

    .item-action{
        @apply flex items-center justify-center gap-1 cursor-pointer
    }

    .filter{
        @apply flex items-center justify-between p-4 md:flex-row flex-col m-5
    }

    .pagination{
        @apply flex sm:justify-end items-center  gap-8 justify-center sm:flex-row flex-col
    }

    .pagination-control{
        @apply flex justify-end items-end gap-4
    }
  }
